spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sistema_agricola
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update 
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
        format_sql: true
    open-in-view: false
server:
  port: 8080

jwt:
  secret: mySecretKeyForJWTTokenGenerationThatShouldBeAtLeast256BitsLongForHS256AlgorithmChangeThisInProduction
  expiration: 86400000 # 24 hours in milliseconds
